@font-face {
	font-family: gameFont;
	src: url(ObelixPro-cyr.ttf);
    /* src: url(AldotheApache.ttf); */
}

.origin-theme {
	--background-color : white;
	--text-color : black;
	--active-color : aqua;
	--inactive-color : gray;
}

.dark-theme {
	--background-color : #2b2b2b ;
	--text-color : #a9b7c6 ;
	--active-color : #a582b7;
	--inactive-color : #606070;
}


body {
	font-family: gameFont;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-o-user-select: none;
	background-color: var(--background-color);
	color: var(--text-color);
}

ul {
	list-style: none;
	list-style-image: none;
}

.scroller {
	height: 94%;
	overflow-y: auto;
}

.btn {
	border: 1px solid var(--text-color);
	width: fit-content;
    padding: 7px;
    margin: 7px;
	cursor: pointer;
}

/*
    CURRENCIES
*/
#currencies {
	width: 40%;
	display: inline-block;
}

.currency {
	border: 1px solid var(--text-color);
	border-radius: 5px;
	width: 600px;
	margin: 3px;
}

.currency-progressBar {
	background-color: var(--currency-color);
	height: 10px;
}

.currency-data {
	width: 100%;
	display: inline-block;
	padding: 5px;
	font-size: 14px;
}

.currency-level {
	display: inline;
	margin-right: 5px;
}

.currency-xp {
	position: relative;
	left: -20px;
	float: right;
}

/*
	TABS
*/
#tabs {
	width: 40%;
	display: inline-block;
	vertical-align: top;
	margin-top: 40px;
    border-bottom: 1px solid var(--text-color);
}

#tabs div {
	display: inline-block;
	margin-left: 5px;
}

.tab {
	display: none;
}
.tab.tab-active {
	display: unset;
}

.tab-btn {
    border: var(--text-color) solid;
	border-width: 1px 1px 0px 1px;
    border-radius: 6px 6px 0px 0px;
	padding: 5px;
}
.tab-btn.tab-active {
	background-color: var(--active-color);
}

/*
    BOOSTS
*/
.boost {
	border: 1px solid var(--text-color);
	border-radius: 2px;
	width: 150px;
    display: inline-block;
	margin: 2px;
	vertical-align: top;
}
.boost-title {
	text-decoration: underline;
    font-size: 15px;
	padding: 3px;
}
.boost-desc {
	padding: 5px;
	font-size: 13px;
}
.boost-cost {
	font-size: 12px;
    padding: 5px;
}
.boost-cost ul {
    padding-left: 10px;
}
.boost-buy-btn {
	border: 1px solid var(--text-color);
	width: fit-content;
    padding: 7px;
    margin: 7px;
	cursor: pointer;
}
.boost-buy-btn.disabled {
	color: var(--inactive-color);
	cursor: default;
}

/*
    SHOP
*/
.shop {
	border: 1px solid var(--text-color);
	width: 49%;
	float: left;
	height: 400px;
}
.shop::before {
	content: 'SHOP';
	position: relative;
	top: -10px;
	left: 10px;
	background: var(--background-color);
	padding: 5px;
}

/*
    FRIENDS
*/
.friends {
	border: 1px solid var(--text-color);
	width: 50%;
	float: right;
	height: 400px;
}
.friends::before {
	content: 'FRIENDS';
	position: relative;
	top: -10px;
	left: 10px;
	background: var(--background-color);
	padding: 5px;
}

.friend {
	border: 1px solid var(--text-color);
	border-radius: 2px;
	width: 200px;
    display: inline-block;
	margin: 2px;
	vertical-align: top;
}
.friend-title {
	text-decoration: underline;
    font-size: 15px;
	padding: 3px;
}
.friend-desc {
	padding: 5px;
	font-size: 13px;
}
.friend-cost {
	font-size: 12px;
    padding: 5px;
}
.friend-cost ul {
    padding-left: 10px;
}
.friend-buy-btn {
	border: 1px solid var(--text-color);
    padding: 7px;
    width: fit-content;
    margin: 7px;
	cursor: pointer;
}
.friend-buy-btn.disabled {
	color: var(--inactive-color);
	cursor: default;
}

/*
    OWNED BOOSTS
*/
.owned {
	border: 1px solid var(--text-color);
	width: 100%;
	height: 400px;
	display: block;
	float: left;
	margin-top: 2px;
}
.owned::before {
	content: 'OWNED BOOSTS';
	position: relative;
	top: -10px;
	left: 10px;
	background: var(--background-color);
	padding: 5px;
}

/*
    ACHIEVEMENTS
*/
.achievements {
	border: 1px solid var(--text-color);
	width: 100%;
	float: right;
	height: 800px;
}
.achievement {
	border: 1px solid var(--text-color);
	border-radius: 2px;
	width: 150px;
    display: inline-block;
	margin: 2px;
	vertical-align: top;
}
.achievement.locked {
	color: gray !important;
}
.achievement-title {
	text-decoration: underline;
    font-size: 15px;
	padding: 3px;
}
.achievement-desc {
	padding: 5px;
	font-size: 13px;
}

/*
    SETTINGS
*/
.settings {
	border: 1px solid var(--text-color);
	width: 100%;
	float: right;
	height: 800px;
}
.settings::before {
	content: 'SETTINGS';
	position: relative;
	top: -10px;
	left: 10px;
	background: var(--background-color);
	padding: 5px;
}

/*
    STATS
*/
.stats {
	border: 1px solid var(--text-color);
	width: 100%;
	float: right;
	height: 800px;
}
.stats::before {
	content: 'STATS';
	position: relative;
	top: -10px;
	left: 10px;
	background: var(--background-color);
	padding: 5px;
}

/*
    NOTIFS
*/
.notif {
-webkit-transform: translate(-50%,0%);
    -ms-transform: translate(-50%,0%);
        transform: translate(-50%,0%);
}

/*
    SAVE EXPORT
*/
.saveExport {
	border: 1px solid black;
	position: absolute;
	top: 200px;
	left: 600px;
	height: 600px;
	width: 400px;
}
.saveExportCaption {
	padding: 5px;
}
.saveExportClose {
	position: absolute;
	top: 0px;
	right: 0px;
	width: fit-content;
	padding: 5px;
	border: 1px solid black;
	cursor: pointer;
}

.saveExport textarea {
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	height: 90%;
	min-height: 90%;
	max-height: 90%;
}