@font-face {
    font-family: gameFont;
    src: url(AldotheApache.ttf);
}

body {
	font-family: gameFont;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-o-user-select: none;
}

ul {
	list-style: none;
	list-style-image: none;
}

/*
    CURRENCIES
*/
.currency {
	border: 1px solid black;
	border-radius: 5px;
	width: 200px;
	margin: 3px;
}

.currency-progressBar {
	background-color: var(--currency-color);
	height: 10px;
}

.currency-data {
	width: 100%;
	display: inline-block;
	padding: 5px;
	font-size: 14px;
}

.currency-level {
	display: inline;
	margin-right: 5px;
}

.currency-xp {
	position: relative;
	left: -20px;
	float: right;
}

/*
    BOOSTS
*/
.boost {
	border: 1px solid black;
	border-radius: 2px;
	width: 150px;
    display: inline-block;
	margin: 2px;
	vertical-align: top;
}
.boost-title {
	text-decoration: underline;
    font-size: 15px;
	padding: 3px;
}
.boost-desc {
	padding: 5px;
	font-size: 13px;
}
.boost-cost {
	font-size: 12px;
    padding: 5px;
}
.boost-cost ul {
    padding-left: 10px;
}
.boost-buy-btn {
	border: 1px solid black;
    padding: 3px;
    width: 29px;
    margin: 7px;
	cursor: pointer;
}

/*
    SHOP
*/
.shop {
	border: 1px solid black;
	width: 49%;
	float: left;
}
.shop::before {
	content: 'SHOP';
	position: relative;
	top: -10px;
	left: 10px;
	background: white;
	padding: 5px;
}

/*
    FRIENDS
*/
.friends {
	border: 1px solid black;
	width: 49%;
	float: right;
}
.friends::before {
	content: 'FRIENDS';
	position: relative;
	top: -10px;
	left: 10px;
	background: white;
	padding: 5px;
}

/*
    BOOSTS
*/
.friend {
	border: 1px solid black;
	border-radius: 2px;
	width: 150px;
    display: inline-block;
	margin: 2px;
	vertical-align: top;
}
.friend-title {
	text-decoration: underline;
    font-size: 15px;
	padding: 3px;
}
.friend-desc {
	padding: 5px;
	font-size: 13px;
}
.friend-cost {
	font-size: 12px;
    padding: 5px;
}
.friend-cost ul {
    padding-left: 10px;
}
.friend-buy-btn {
	border: 1px solid black;
    padding: 3px;
    width: 29px;
    margin: 7px;
	cursor: pointer;
}

/*
    NOTIFS
*/
.notif {
-webkit-transform: translate(-50%,0%);
    -ms-transform: translate(-50%,0%);
        transform: translate(-50%,0%);
}