#blood {
    display: inline-block;
    width: 25px;
}

#currency-blood {
    width: 35px;
    height: 80px;
    border-width: 0px 3px 3px 3px;
    border-color: darkred;
    border-style: solid;
    position: relative;
    top: 20px;
    border-radius: 4px;
}

#currency-blood-bar {
    position: relative;
    width: 39px;
    left: -2px;
    display: block;
    z-index: -1;
    background:
        radial-gradient(circle at 100% 50%, transparent 20%, rgba(255,255,255,.3) 13%, rgba(255,255,255,.3) 23%, transparent 35%, transparent),
        radial-gradient(circle at 0% 50%, transparent 20%, rgba(255,255,255,.3) 13%, rgba(255,255,255,.3) 23%, transparent 35%, transparent) 0 -5px;
    background-color: darkred;
    background-size: 7px 10px;
}

#currency-blood-icon {
    color: red;
    position: relative;
    top: -50px;
    left: 14px;
}

#currency-blood-xp {
    color: red;
    position: relative;
    top: 5px;
    left: 10px;
    font-size: 10px;
}

#bloodSpikes {
    display: inline-block;
    left: 35px;
    position: relative;
}

#currency-bloodSpikes-icon,
#currency-bloodSpikes-levels {
    display: inline-block;
}

.red {
    color: red;
}
.red-glow {
    text-shadow: 0px 0px 5px red;
}

.friend-blood-xp {
    height: 5px;
    background-color: red;
}
.boost-xp {
    height: 5px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

/*
** Activable boosts
*/

.activable.inactive {
    box-shadow: 0px 0px 10px red inset;
}
.activable.active {
    box-shadow: 0px 0px 10px green inset;
}

/*
** Loot
*/
.boost-loot-label {
    font-size: 8px;
    bottom: 3px;
    position: absolute;
    float: right;
    right: 5px;
}

.fa-loot {
    content: url('../img/loot.png');
    width: 20px;
    vertical-align: bottom;
}
.dark-theme .fa-loot {
	content: url('../img/loot-dark.png');
}

/*
** Action links
*/

a, a:visited {
    text-decoration: underline;
    cursor: pointer;
}

body[gameFont=ObelixPro] .kill-ethereal {
    font-size: 9px;
}

body[gameFont=Helvetica] .kill-ethereal {
    font-size: 11px;
}

/*
//////// KNIFE PARTS ////////
*/

/*
** Kriss
*/
.fa-kriss {
	content: url('../img/kriss.png');
	transform: rotate(-15deg);
	width: 20px;
	position: relative;
	top: -40px;
	right: 10px;
}

body[gameFont=Helvetica] .fa-kriss {
	top: 0;
}

.dark-theme .fa-kriss {
	content: url('../img/kriss-dark.png');
}

/*
** Serrated Blade
*/
.fa-serratedblade {
	content: url('../img/serratedblade.png');
    transform: rotate(40deg);
    width: 60px;
    position: relative;
    top: -27px;
    right: 0px;
}

body[gameFont=Helvetica] .fa-serratedblade {
	top: 0;
    right: -5px;
    transform: rotate(53deg);
}

.dark-theme .fa-serratedblade {
	content: url('../img/serratedblade-dark.png');
}

/*
** Ruby Pommel
*/
.fa-rubypommel {
	content: url('../img/rubypommel.png');
    transform: rotate(0deg);
    width: 23px;
    position: relative;
    top: -23px;
    right: 1px;
}

body[gameFont=Helvetica] .fa-rubypommel {
	top: 4px;
}

/*
** Dragon Sculpted Grip
*/
.fa-dragongrip {
	content: url('../img/dragongrip.png');
    transform: rotate(0deg);
    width: 35px;
    position: relative;
    top: -39px;
    right: 0px;
}

body[gameFont=Helvetica] .fa-dragongrip {
	top: -35px;
}

/*
** Diamond Blade Tip
*/
.fa-diamondbladetip {
	content: url('../img/diamondbladetip.png');
    transform: rotate(0deg);
    width: 25px;
    position: relative;
    top: -42px;
    right: 0px;
}

body[gameFont=Helvetica] .fa-diamondbladetip {
	top: -36px;
}

.dark-theme .fa-diamondbladetip {
	content: url('../img/diamondbladetip-dark.png');
}

/*
** Cheater's Scabbard
*/
.fa-cheatersscabbard {
	content: url('../img/cheatersscabbard.png');
    transform: rotate(-11deg);
    width: 25px;
    position: relative;
    top: -42px;
    right: 7px;
}

body[gameFont=Helvetica] .fa-cheatersscabbard {
	top: -36px;
}

.dark-theme .fa-cheatersscabbard {
	content: url('../img/cheatersscabbard-dark.png');
}

/*
** Rat
*/
.fa-rat {
    content: url('../img/rat.png');
    width: 30px;
    position: relative;
    top: -44px;
    right: 2px;
}
body[gameFont=Helvetica] .fa-rat {
	top: 2px;
}

.dark-theme .fa-rat {
	content: url('../img/rat-dark.png');
}

.fa-rat.giant-rat { 
    top: 0px;
}

/*
** Raygun
*/ 
.fa-raygun {
    content: url('../img/raygun.png');
    width:20px;
}

/*
** Hearts
*/

.boost-heart {
    position: absolute; 
    bottom: 6px; right: 2px;
    float: right;
}

.boost-heart .boost-life-in-seconds {
    font-size: 9pt;
    text-align: center;
    width:18px;
}

.heart {
    animation: heartbeat 1s infinite;
    background-color: red;
    display: inline-block;
    height: 10px;
    margin: 0 10px;
    transform: rotate(-45deg);
    width: 10px;
    position: absolute;
    left: -6px;
    top: -9px;
  }
  
  .heart:before,
  .heart:after {
    content: "";
    background-color: red;
    border-radius: 50%;
    height: 10px;
    position: absolute;
    width: 10px;
  }
  
  .heart:before {
    top: -5px;
    left: 0;
  }
  
  .heart:after {
    left: 5px;
    top: 0;
  }

  @keyframes heartbeat {
    0% {
      transform: scale( 1 )
        rotate(-45deg);  
    }
    20% {
      transform: scale( 0.95 )
        rotate(-45deg);
        /* translateX(5%)
        translateY(5%); */
    } 
    40% {
      transform: scale( 0.65 )
        rotate(-45deg);
        /* translateX(9%)
        translateY(10%); */
    }
  }